---
layout: default
title: Powderlines - The Pacific Northwest&rsquo;s best backcountry tours for this weekend
---

<div class="hero-wrapper">
  <div class="hero-background"></div>
  <div class="hero section">
    <div class="row">
      <div class="medium-8 medium-offset-2 columns">
        <div class="logo">Powderlines</div>
        <h3>Washington&rsquo;s best backcountry tours</h3>
        <p>Finding the best place to backcountry ski or splitboard can be difficult. Our goal is to make it easier to find great backcountry tours.</p>
        <a href="/map.html">Try our beta 3D map of Washington ski tours</a>
      </div>
    </div>
    <a href="#content" class="scroll-arrow">Next</a>
  </div>
  <div class="social">
    <span>
      <span class="hide-for-small-only">follow us</span>
      <a href="http://twitter.com/makepowderlines" class="icon-twitter">Twitter</a>
      <a href="http://facebook.com/makepowderlines" class="icon-facebook">Facebook</a>
      <a href="http://eepurl.com/LEuJL" class="icon-newsletter">Newsletter</a>
      <span class="hide-for-small-only">keep updated</span>
    </span>
  </div>
</div>

<div id="content">
  {% for post in site.posts %}
    <div class="section tour" style="background-image:url(/assets/img/{{post.image}});">
      <div class="row">
        <div class="small-12 columns">
          <div class="badge">
            <a class="badge-inner" href="{{ post.url }}">
              <div class="badge-background" style="background-image:url(/assets/img/{{post.image}});"></div>
              {{ post.title | replace: 'to', '<span class="fancy">to</span>' }}
              <small>Route info &rarr;</small>
              <div class="snotel" data-lat="{{ post.parking-lat }}" data-long="{{ post.parking-long }}" data-elevation="{{ post.starting-elevation }}">
                <small class="total-depth"></small>
                <small class="change-depth"></small>
                <small class="distance"></small>
                <small class="elevation"></small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% include ad.html %}

<div class="jelly-belly">
  <div class="row">
    <div class="small-12 columns">
      <h3>Want to contribute to Powderlines?</h3>
      <p>We&rsquo;re just getting started so we only have two tours posted. If you&rsquo;re interested in submitting any more tours or additional GPX tracks to help others find great places to backcountry ski or snowboard in Washington <a href="mailto:bobby@powderlin.es">please shoot us an email.</a></p>
    </div>
  </div>
</div>