.map-view {
  height: 100%;
  overflow: hidden;
}

.left-panel, .right-panel {
  position: absolute;
  top: 0;
  height: 100%;
}
.left-panel {
  width: 33.3333%;
  left: 0;
  background: $white;
  .tour-count {
    padding: 0.4rem 1.1111rem;
    font-size: .6rem;
    background: $greydark;
    color: $greylight;
    border-bottom: 1px solid $greylight;
  }
  ul {
    margin: 0;
    list-style: none;
    position: relative;
  }
  li {
    font-size: 0.8rem;
    padding: 0.6rem 1.1111rem;
    border-bottom: 1px solid $greylight;
    cursor: pointer;
    @include transition(all 400ms ease-in);
    &:hover, .hover {
      background: $greylighter;
      color: $black;
      .distance {
        color: $black;
      }
    }
    .distance {
      float: right;
      color: $greylight;
      font-size: 0.7rem;
      @include transition(all 400ms ease-in);
    }
  }
  .scroller {
    overflow: scroll;
    position: relative;
    margin: -20px 0 -185px; /* adjust height to fit search form TODO: switch to REM */
    height: 100%;
  }
  .panel {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  
}
.right-panel {
  width: 66.6666%;
  left: 33.3333%;
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}