$rhythm-unit: 'rem';
@import "compass/typography/text/replacement";
@import "compass/css3";
//@import "compass/typography/vertical_rhythm";
@import "fonts";
@import "settings";
@import "cesium"; // compiled
@import "3d-map";
@import "foundation";

@import "chartist"; // compiled sass

@import "compass/utilities/sprites";
$element-sprite: sprite-map("elements-1x/*.png", $spacing: 5px);

//@include establish-baseline;

/*.vertical-grid {
  @include debug-vertical-alignment;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2; 
}*/

html, body {
  height: 100%;
}

h1 {
  font-size: 3rem;
}

.no-scroll { overflow: hidden; }

table {
  text-align: left;
  min-width: 100%;
  @include border-radius(4px);
  td {
    vertical-align: top;
  }
}

.nostyle {
  margin: 0;
  list-style: none;
  li {
    margin-bottom: .4rem;  
    small {
      display: block;
      color: $greydark;
      line-height: 1;
    }
  }
}

.section {
  padding: 10rem 0;
  @media #{$small-only} {
    padding: 4rem 0;
  }
  position: relative;
}

.section-small {
  padding: 2rem 0;
}

.spacing-small {
  margin-bottom: 1rem !important;
}

.offset-background {
  background: $white;
}

.hero-wrapper {
  position: relative;
}

.hero-background {
  background: url(/assets/img/hero-background.jpg) top center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero {
  background: url(/assets/img/powder-texture@1x.png);
  text-align: center;
  h1 {
    color: $white;
  }
  p {
    color: $greylight;
  }
  a {
    color: $greylight;
    text-decoration: underline;
    &:hover {
      color: $white;
    }
  }
}

.logo {
  @include sprite-replace-text-with-dimensions($element-sprite, 'logo');
  margin: 0 auto 2rem;
  @media #{$small-only} {
    background-size: 111px auto;
    background-position: 0 -59px;
    height: 124px;
    width: 111px;
  }
}

.logo-small {
  @include sprite-replace-text($element-sprite, 'logo');
  background-position: 0 -45px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
  background-size: 85px auto;
  height: 95px;
  width: 85px;
}

.scroll-arrow {
  @include sprite-replace-text-with-dimensions($element-sprite, 'scroll-arrow');
  position: absolute;
  bottom: 2rem;
  margin-left: -18px;
}

.social {
  text-align: center;
  padding: 1rem;
  background: url(/assets/img/powder-texture@1x.png) fade-out($black, .1);
  color: $grey;
  position: relative;
  @include box-shadow(0 -1rem 10rem fade-out($black, .4));
}

.icon-twitter,
.icon-facebook,
.icon-newsletter {
  opacity: 0.5;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2rem;
  @include transition(all 200ms ease-in);
  &:hover {
    opacity: 1;
    @include scale(.92);
  }
}

.icon-twitter {
  @include sprite-replace-text-with-dimensions($element-sprite, 'icon-twitter');
}

.icon-facebook {
  @include sprite-replace-text-with-dimensions($element-sprite, 'icon-facebook');
  margin-right: 6px;
}

.icon-newsletter {
  @include sprite-replace-text-with-dimensions($element-sprite, 'icon-newsletter');
}

.partners {
  background: $white;
  padding: 2rem 1rem;
  text-align: center;
  small {
    display: block;
    margin: 0 0 1rem;
  }
}

.tour {
  background-size: cover;
  background-position: center bottom;
  position: relative;
  color: $white;
  a {
    color: $white;
  }
  .columns {
    min-height: 100vh;
  }
  .chart {
    height: 33.33333333333333vh;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    position: relative;
    &:last-child {
      border-bottom: 0;
    }
  }
  .ct-chart {
    height: 100%;
  }
  .cover {
    position: absolute;
    padding: 3rem;
    width: 100%;
    @include background-image(linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2)));
    bottom: 0;
    left: 0;
    a {
      display: block;
    }
  }
  .sidebar {
    background: rgba(255, 255, 255, 0.5);  /* overridden with inline style */
    position: relative;
    padding: 0;
    &:before {
      content: '';
      display: block;
      width: 5rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: -5rem;
      @include background-image(linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2)));
    }
    h5 {
      color: $white;
      font-family: $sans-serif-font;
      @include rotateZ(270deg);
      top: 50%;
      left: -4.8rem;
      position: absolute;
      width: 7rem;
      height: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: .6rem;
      letter-spacing: 0.08rem;
    }
    p {
      margin-bottom: 0;
    }
    table {
      background: transparent;
      margin-bottom: 0;
      border: none;
      table-layout: fixed;
      border-spacing: 0;
      height: 100%;
      th, td {
        text-align: center;
        color: $white;
        vertical-align: middle;
      }
      th {
        font-size: 0.8rem;
      }
      td {
        font-family: $serif-font;
        font-size: 1rem;
      }
      thead {
        background: rgba(0,0,0,0.2); /* overridden with inline style */
        text-transform: uppercase;
      }
      thead tr th,
      thead tr td {
        font-size: 0.6rem;
      }
      tbody td,
      tbody th {
        border-bottom: 1px solid rgba(0,0,0,0.2); /* overridden with inline style */
      }
      tbody tr:last-child td,
      tbody tr:last-child th {
        border-bottom: none !important;
      }
      tr:nth-of-type(even) {
        background: transparent;
      }
    }
  }
}

.post {
  margin-bottom: 1rem;
}

.tour-header {
  padding: 40% 0 1rem;
  background-size: cover;
  background-position: bottom center;
  margin: 0;
  position: relative;
  &.dark-image, &.dark-image h1 {
    color: $greylighter;
    small {
      color: $greylight;  
    }
  }
}

.page-header {
  padding: 20% 0;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  text-align: center;
  h1 {
    font-size: 8rem;
  }
  &.dark-image, &.dark-image h1 {
    color: $greylighter;
    small {
      color: $greylight;  
    }
  }
}

.photo-credit {
  padding: 8px;
  color: #ccc;
  font-size: .7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  &:hover {
    color: $white;
  }
}

.map-wrapper {
  position: relative;
  min-height: 30rem;
  margin-bottom: 2rem;
  .columns {
    background: rgba(255,255,255,0.6);
    @include box-shadow(0 0 30px rgba(0,0,0,0.15));
  }
  ul li {
    margin-bottom: 0;
  }
  .gpx-file {
    padding: 0.3rem 1rem 0.8rem;
    margin: 0 -0.83333rem;
    cursor: pointer;
    @include transition(background 600ms ease-in);
    &.hover {
      background: rgba(255,255,255, 0.6);
      @include transition(background 100ms ease-out);
    }
    &.select {
      background: $white;
      @include transition(background 100ms ease-out);
    }
  }
}

.mapped {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weathered {
  ul {
    margin: 0;
  }
  li {
    position: relative;
    overflow: hidden;
    list-style: none;
    font-family: $narrow-sans-serif-font;
    color: $grey;
    font-size: 0.8rem;
    margin: 0 0 1rem;
    div {
      position: relative;
      overflow: hidden;
    }
  }
  .icon {
    margin-right: 0.8rem;
    background: $greydark;
    padding: 0.4rem;
    float: left;
    text-align: center;
    font-family: $sans-serif-font;
    line-height: 1;
    color: $greylighter;
    div {
      margin-top: 0.2rem;
      text-indent: 0.25rem; /* offset the degrees symbol */
    }
    canvas {
      display: block;
    }
  }
  h6 {
    margin: 0; 
  }
}

.footer {
  background: $white url(/assets/img/footer-bg.jpg) bottom center no-repeat;
  background-size: contain;
  text-align: center;
  @media #{$small-only} {
    text-align: left;
  }
  small {
    color: $grey;
    font-size: 0.8rem;
  }
}

.product {
  display: block;
  position: relative;
  text-align: center;
  padding: 1rem;
  .product-title-wrapper {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    padding: 1rem;
    @include transition(background 200ms ease-in);
  }
  .product-title {
    margin-top: 50%;
    padding: .4rem;
    opacity: 0;
    display: inline-block;
    border: 3px solid $white;
    font-family: $narrow-sans-serif-font;
    color: $white;
    @include transform(translateY(-50%));
    @include transition(opacity 100ms ease-in);
  }
  img {
    @include transition(all 100ms ease-in);
  }
  &:hover {
    img {
      @include filter(blur(20px));
      @include transition(all 300ms ease-in);
    }
    .product-title-wrapper {
      background: rgba(0,0,0,0.3);
    }
    .product-title {
      opacity: 1;
      @include transition(opacity 400ms ease-in);
    }
  }
}

.trip-report {
  background-position: center center;
  background-size: cover;
  @include text-shadow(0 .2rem .8rem rgba(0,0,0,0.5));
  p {
    margin: 0;
  }
  a {
    display: block;
    overflow: hidden;
    div {
      color: $white;
      padding: 1rem;
      @include background-image(linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0)));
      @include transition(opacity 100ms ease-in);
    }
    &:hover div {
      opacity: .3;
      @include transition-duration(400ms);
    }
    small {
      color: $white;
    }
  }
}

.video-thumb {
  height: 3rem;
  text-indent: -9999px;
  background-size: cover;
  display: block;
  position: relative;
  border: 0 solid $primary-color;
  @include transition(all 200ms ease-in);
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent $white;
    border-width: 10px 15px;
    margin: -8px 0 0 -6px;
    opacity: 0.6;
    @include transition(all 200ms ease-in);
  }
  .active & {
    border-width: 3px;
    &:after {
      opacity: 0;
    }
  }
  &:hover {
    border: 3px solid $white;
  }
}

.jelly-belly {
  border-style: solid;
  border-color: #C2DBDB;
  border-width: 0.4rem 0;
  background: #D7EAEA;
  text-align: center;
  @media #{$small-only} {
    text-align: left;
  }
  padding: 4.2rem 0 3.8rem;
}

.byline {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $grey;
  font-family: $narrow-sans-serif-font;
  margin-bottom: 2rem;
}

#map {
   width:100%;
   height:400px;
   @include border-radius(4px 4px 0 0);
   background: $white;
}
#graph-wrapper {
  background: #fff;
  @include border-radius(0 0 4px 4px);
  @include box-shadow(0 4px 0 fade-out($black, .95));
  margin-bottom: 2rem;
  padding: 1rem;
  #graph {
    .placeholder-rectangle {
      color: $greylight;
      text-align: center;
      width:100%;
      line-height: 200px;
      vertical-align: center;
    }
  }
}
.simple-promo-banner {
  background: $greydark;
  color: lighten($greydark, 30%);
  padding: 1rem .2rem .9rem;
  text-align: center;
  p {
    margin: 0;
    font-size: .8rem;
  }
  a {
    color: $white;
    text-decoration: underline;
  }
}