$rhythm-unit: 'rem';
@import "compass/typography/text/replacement";
@import "compass/css3";
//@import "compass/typography/vertical_rhythm";
@import "fonts";
@import "settings";
@import "foundation";

@import "compass/utilities/sprites";
$element-sprite: sprite-map("elements-1x/*.png");
//@import "elements-1x/*.png";
//@include all-elements-1x-sprites;


//@include establish-baseline;

/*.vertical-grid {
  @include debug-vertical-alignment;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2; 
}*/

.nostyle {
  margin: 0;
  list-style: none;
  li {
    margin-bottom: .4rem;  
    small {
      display: block;
      color: $greydark;
      line-height: 1;
    }
  }
}

.section {
  padding: 10rem 0;
  @media #{$small-only} {
    padding: 4rem 0;
  }
  position: relative;
}

.section-small {
  padding: 4rem 0;
}

.spacing-small {
  margin-bottom: 1rem !important;
}

.offset-background {
  background: $white;
}

.hero-wrapper {
  position: relative;
}

.hero-background {
  background: url(/assets/img/hero-background.jpg) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero {
  background: url(/assets/img/powder-texture@1x.png);
  text-align: center;
  h3 {
    color: $white;
  }
  p {
    color: $greylight;
  }
}

.logo {
  @include sprite-replace-text-with-dimensions($element-sprite, 'logo');
  margin: 0 auto 2rem;
  @media #{$small-only} {
    background-size: 111px auto;
    height: 124px;
    width: 111px;
  }
}

.logo-small {
  @include sprite-replace-text($element-sprite, 'logo');
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
  background-size: 111px auto;
  height: 124px;
  width: 111px;
}

.scroll-arrow {
  @include sprite-replace-text-with-dimensions($element-sprite, 'scroll-arrow');
  position: absolute;
  bottom: 2rem;
  margin-left: -18px;
}

.social {
  text-align: center;
  padding: 1rem;
  background: url(/assets/img/powder-texture@1x.png) fade-out($black, .1);
  color: $grey;
  position: relative;
  @include box-shadow(0 -1rem 10rem fade-out($black, .4));
}

.icon-twitter,
.icon-facebook,
.icon-newsletter {
  opacity: 0.5;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2rem;
  @include transition(all 200ms ease-in);
  &:hover {
    opacity: 1;
    @include scale(.92);
  }
}

.icon-twitter {
  @include sprite-replace-text-with-dimensions($element-sprite, 'icon-twitter');
}

.icon-facebook {
  @include sprite-replace-text-with-dimensions($element-sprite, 'icon-facebook');
  margin-right: 6px;
}

.icon-newsletter {
  @include sprite-replace-text-with-dimensions($element-sprite, 'icon-newsletter');
}

.partners {
  background: $white;
  padding: 2rem 1rem;
  text-align: center;
  small {
    display: block;
    margin: 0 0 1rem;
  }
}

.tour {
  background-size: cover;
  text-align: center;
}

.badge {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  .badge-background {
    @include transform(scaleY(-1));
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .badge-inner {
    width: 32rem;
    height: 32rem;
    font-size: 4rem;
    @media #{$small-only} {
      font-size: 2rem;
      width: 15rem;
      height: 15rem;
    }
    background-color: fade-out($white, .15);
    @include transition(all 300ms ease-out);
    display: table-cell;
    vertical-align: middle;
    color: $greydark;
    &:hover {
      background-color: fade-out($white, .4);
      color: $white;
    }
    small {
      display: block;
      font-family: $narrow-sans-serif-font;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 2;
      opacity: 0.5;
    }
  }
}

.post {
  margin-bottom: 1rem;
}

.tour-header {
  padding: 40% 0 1rem;
  background-size: cover;
  background-position: bottom center;
  margin: 0 0 2rem;
  &.dark-image, &.dark-image h1 {
    color: $greylighter;
    small {
      color: $greylight;  
    }
  }
}

.map-wrapper {
  position: relative;
  min-height: 30rem;
  .columns {
    background: rgba(255,255,255,0.6);
    @include box-shadow(0 0 30px rgba(0,0,0,0.15));
  }
  ul li {
    margin-bottom: 0;
  }
  .gpx-file {
    padding: 0.3rem 1rem 0.8rem;
    margin: 0 -0.83333rem;
    cursor: pointer;
    @include transition(background 600ms ease-in);
    &.hover {
      background: rgba(255,255,255, 0.6);
      @include transition(background 100ms ease-out);
    }
    &.select {
      background: $white;
      @include transition(background 100ms ease-out);
    }
  }
}

.mapped {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weathered {
  ul {
    margin: 0;
  }
  li {
    position: relative;
    overflow: hidden;
    list-style: none;
    font-family: $narrow-sans-serif-font;
    color: $grey;
    font-size: 0.8rem;
    margin: 0 0 1rem;
    div {
      position: relative;
      overflow: hidden;
    }
  }
  .icon {
    margin-right: 0.8rem;
    background: $greydark;
    padding: 0.4rem;
    float: left;
    text-align: center;
    font-family: $sans-serif-font;
    line-height: 1;
    color: $greylighter;
    div {
      margin-top: 0.2rem;
      text-indent: 0.25rem; /* offset the degrees symbol */
    }
    canvas {
      display: block;
    }
  }
  h6 {
    margin: 0; 
  }
}

.footer {
  background: $white url(/assets/img/footer-bg.jpg) bottom center no-repeat;
  background-size: contain;
  text-align: center;
  @media #{$small-only} {
    text-align: left;
  }
  small {
    color: $grey;
    font-size: 0.8rem;
  }
}

.product {
  display: block;
  position: relative;
  text-align: center;
  padding: 1rem;
  .product-title-wrapper {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    padding: 1rem;
    @include transition(background 200ms ease-in);
  }
  .product-title {
    margin-top: 50%;
    padding: .4rem;
    opacity: 0;
    display: inline-block;
    border: 3px solid $white;
    font-family: $narrow-sans-serif-font;
    color: $white;
    @include transform(translateY(-50%));
    @include transition(opacity 100ms ease-in);
  }
  img {
    @include transition(all 100ms ease-in);
  }
  &:hover {
    img {
      @include filter(blur(20px));
      @include transition(all 300ms ease-in);
    }
    .product-title-wrapper {
      background: rgba(0,0,0,0.3);
    }
    .product-title {
      opacity: 1;
      @include transition(opacity 400ms ease-in);
    }
  }
}

.trip-report {
  background-position: center center;
  background-size: cover;
  @include text-shadow(0 .2rem .8rem rgba(0,0,0,0.5));
  p {
    margin: 0;
  }
  a {
    display: block;
    overflow: hidden;
    div {
      color: $white;
      padding: 1rem;
      @include background-image(linear-gradient(left, rgba(0,0,0,0.3), rgba(0,0,0,0)));
      @include transition(opacity 100ms ease-in);
    }
    &:hover div {
      opacity: .3;
      @include transition-duration(400ms);
    }
    small {
      color: $white;
    }
  }
}

.video-player {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	margin-bottom: .4rem;
	height: 0;
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100% !important;
  	height: 100% !important;
  }
}

.video-thumb {
  height: 3rem;
  text-indent: -9999px;
  background-size: cover;
  display: block;
  position: relative;
  border: 0 solid $primary-color;
  @include transition(all 200ms ease-in);
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent $white;
    border-width: 10px 15px;
    margin: -8px 0 0 -6px;
    opacity: 0.6;
    @include transition(all 200ms ease-in);
  }
  .active & {
    border-width: 3px;
    &:after {
      opacity: 0;
    }
  }
  &:hover {
    border: 3px solid $white;
  }
}

.jelly-belly {
  border-style: solid;
  border-color: $greylight;
  border-width: 0.4rem 0;
  background: $white;
  text-align: center;
  @media #{$small-only} {
    text-align: left;
  }
  padding: 4.2rem 0 3.8rem;
}

.byline {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $grey;
  font-family: $narrow-sans-serif-font;
  margin-bottom: 2rem;
}