{% include header.html %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
  </head>
  <body>
    {{ content }}
    <div class="section footer">
      <div class="row">
        <div class="medium-8 medium-push-2 columns">
          <p>Crafted in Seattle by <a href="http://bobbyandmaura.com">Bobby &amp; Maura</a></p>
          <small>Backcountry travel is inherently dangerous. This site makes no suggestions or promises in terms of the safety of the tours listed. Remember to always travel with the 10 essentials, including avalanche gear &mdash; beacon, shovel and probe and good partners. Ski and ride safe!</small>
        </div>
      </div>
    </div>
    <div class="simple-promo-banner">
      <p>Curious about what current snow levels are at in the mountains? Check out our <a href="/api.html">free mountain snow API</a> powered by SNOTEL.</p>
    </div>
    <script src="/assets/js/main.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
{% include footer.html %}