{% include header.html %}
</head>
<body>


<div class="map-view">
  <div class="right-panel">
    {{ content }}
  </div>
  <div id="tour-filter-form" class="left-panel">
    <form>
      <div class="large-12 columns">
        <input type="text" placeholder="Search tours" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off"/>
      </div>
    </form>
    <ul class="large-12 columns" data-bind="foreach: filteredTours, visible: filteredTours().length > 0">
        <li>
            <h5 data-bind="text: name, attr: {id: id }"></h5>
            <p data-bind="text: description"></p>
        </li> 
    </ul>
  </div>
</div>

<script src="/assets/js/main.js"></script>
<script src="/assets/Cesium/Cesium.js"></script>
<script>
  /* Housekeeping */
  var polylineWidth = 2;
  ko = Cesium.knockout;
  
  /* Main Cesium */
  Cesium.BingMapsApi.defaultKey = "AgRxdroanFbgogMNQ3HpvADZ2txGKmu1cTTRqlrAUSFLfbP38ZhuYKBSY1ZK0aHl";
  var viewer = new Cesium.Viewer('cesiumContainer', {
    animation       : false,
    homeButton      : false,
    timeline        : false,
    sceneModePicker : false,
    baseLayerPicker : false,
    terrainProvider : new Cesium.CesiumTerrainProvider({
        url : '//cesiumjs.org/tilesets/terrain/smallterrain'
    })
  });
  viewer.extend(Cesium.viewerEntityMixin);
  viewer.scene.globe.depthTestAgainstTerrain = true;
  
  // Create a polyline collection with two polylines
  var primitives = viewer.scene.primitives;
  
  // how do i detect clicks on my polylines?
  /*
  Cesium.knockout.getObservable(viewer, 'selectedEntity').subscribe(function(entity) {
      if (entity !== undefined) {
           console.log(this, entity.id, entity.name, entity.description.getValue());
           highlightedObject.material.uniforms.color.alpha = 0.75;
      }
  });
  */

  var dataSource = new Cesium.GeoJsonDataSource();
  dataSource.loadUrl('/assets/gpx/ski-tours-complete.geojson').then(function() {
    var entities = dataSource.entities.entities;
    knockItOut(); // we can do the knockout stuff now that the json data has loaded
  }).otherwise(function(error) {
    alert('Tours could not be found. Please reload the page.');
  });
  viewer.dataSources.add(dataSource);

  var camera = viewer.scene.camera;
  camera.lookAt(Cesium.Cartesian3.fromDegrees(-121.81263, 45, 300000),
  Cesium.Cartesian3.fromDegrees(-121.81263, 48.706652, 0), Cesium.Cartesian3.UNIT_Z);
  
  /* Knockout stuff */
  var knockItOut = function() {
  
    function Tour(data) {
      this.id = ko.observable(data.id);
      this.name = ko.observable(data.name);
      this.description = ko.observable(data.description);
    }
    
    function TourListViewModel() {
        // Data
        var self = this;
        self.tours = ko.observableArray([]);
        self.query = ko.observable('');
        self.filteredTours = ko.computed(function () {
          var query = this.query().toLowerCase();
          if (!query) {
            return this.tours();
          } else {
            return ko.utils.arrayFilter(this.tours(), function (tour) {
                return tour.name().toLowerCase().indexOf(query) !== -1;
            });
          }
        }, self);
     
       var mappedTours = $.map(dataSource.entities.entities, function(entity) {
          return new Tour({
            id: entity.id,
            name: entity.name,
            description: entity.properties.Description
          })
        });
        self.tours(mappedTours);
        
        self.filteredTours.subscribe(function(tours) {
          // hide all tours
          var entities = dataSource.entities.entities;
          for (var i = 0; i < entities.length; i++) {
            var entity = entities[i];
            if (entity.polyline) {
              entity.polyline.show = new Cesium.ConstantProperty(false);
            }
            if (entity.polygon) {
              entity.polygon.show = new Cesium.ConstantProperty(false);
            }
          }
          
          
          $.each(tours, function() {
            var tour = this;
            // show the ones that match
            var tourGeometry = dataSource.entities.getById(tour.id());
            if (tourGeometry.polyline) {
              tourGeometry.polyline.show = new Cesium.ConstantProperty(true); 
            }
            if (tourGeometry.polygon) {
              tourGeometry.polygon.show = new Cesium.ConstantProperty(true); 
            }
          });
          
        });
    }
  
    ko.applyBindings(new TourListViewModel(), document.getElementById('tour-filter-form'));
  }

</script>
{% include footer.html %}