---
layout: default
---
<a href="/" class="logo-small">Powderlin.es</a>
<div class="tour-header" style="background-image:url(/assets/img/{{page.image}});">
  <div class="row">
    <div class="small-12 columns">
        <h1>
          {{ page.title }}
          <small>
          {{ page.distance }}
          </small>
        </h1>
        <ul class="inline-list">
          <li>Elevation gain: {{ page.elevation-gain }}</li>
          <li>Highest elevation: {{ page.highest-elevation }}</li>
          <li>Starting elevation: {{ page.starting-elevation }}</li>
        </ul>
                  
          
          
    </div>
  </div>
</div>
  
<div class="row">
  <div class="small-12 medium-7 columns">
    <div class="post">
    {{ content }}
    <h3>Directions</h3>
    {{ page.directions }}
    </div>
  </div>
  <div class="small-12 medium-5 columns">
    <div class="weathered" data-lat="{{page.lat}}" data-long="{{page.long}}"></div>
  </div>
</div>

{% include ad.html %}

<div class="row section-small">
  <div class="small-12 columns">
    <h2>Map &amp; GPX</h2>
  </div>
  <div class="small-12 medium-4 columns">
    <ul>
    {% for gpx in page.gpx %}
      <li>
        <a href="/assets/gpx/{{ gpx.path }}" data-gpx-name="{{ gpx.name}}" data-gpx-index="{{ forloop.index }}" class="gpx-file">{{ gpx.name }} <small>{{ gpx.date| date: "%B %-d, %Y" }}</small></a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="small-12 medium-8 columns">
    <div class="mapped" data-lat="{{page.lat}}" data-long="{{page.long}}"></div>
  </div>
</div>

<div class="row section-small">
  <div class="small-12 medium-6 columns">
    <h2>Trip reports</h2>
    <ul>
      {% for report in page.reports %}
        <li>
          <a href="{{ report.url }}" target="_blank">{{ report.name }}</a>
          <small>{{ report.date | date: "%B %-d, %Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="small-12 medium-6 columns">
    <h2>Videos</h2>
      {% for video in page.videos %}
        {% oembed {{video.url}} %}
      {% endfor %}
  </div>
</div>

<div class="offset-background">
  <div class="row section-small">
    <div class="small-12 columns">
      <h2>Gear</h2>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="http://www.amazon.com/gp/product/B001OFEA8S/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001OFEA8S&linkCode=as2&tag=wefouadv-20">
        <img src="http://ecx.images-amazon.com/images/I/61I4qCovhOL.jpg"/>
      </a>
    </div>
    <div class="small-12 medium-6 columns">
      <a href="http://www.amazon.com/gp/product/1594856567/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1594856567&linkCode=as2&tag=wefouadv-20">
        <img src="http://ecx.images-amazon.com/images/I/516v4AUtPVL.jpg"/>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <script src="http://assets-polarb-com.a.ssl.fastly.net/assets/polar-embedded-ed38f2a7466dbdc3695c3e0327c281e7.js" async="true" data-publisher="bobbymarko" data-poll-set="868"></script>
  </div>
</div>

<!--
    <a href="http://www.tkqlhce.com/click-7192516-10904340" target="_blank">
      <img src="http://www.tqlkg.com/image-7192516-10904340" width="160" height="600" alt="Dynamic Banner" border="0"/>
    </a>
    
-->