---
layout: default
---
<a href="/" class="logo-small">Powderlin.es</a>
<div class="tour-header {{page.header-class}}" style="background-image:url(/assets/img/{{page.image}});">
  <div class="row">
    <div class="small-12 columns">
        <h1>
          {{ page.title }}
          <small>
          {{ page.distance }}
          </small>
        </h1>
        <ul class="inline-list">
          <li>Elevation gain: {{ page.elevation-gain }}</li>
          <li>Highest elevation: {{ page.highest-elevation }}</li>
          <li>Starting elevation: {{ page.starting-elevation }}</li>
        </ul>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="small-12 medium-7 columns">
    <div class="post">
      {{ content }}
      <p class="byline">By <a href="http://bobbyandmaura.com" rel="author">Bobby Marko</a></p>
      <h3>Directions</h3>
      <p>{{ page.directions }}</p>
      <a href="http://maps.google.com/?saddr=&daddr={{ page.parking-lat }},{{ page.parking-long }}" target="_blank">Get directions from Google</a>
    </div>
  </div>
  <div class="small-12 medium-5 columns">
    <div class="weathered" data-lat="{{page.lat}}" data-long="{{page.long}}"></div>
  </div>
</div>

{% include ad.html %}

<div class="map-wrapper">
  <div class="mapped" data-lat="{{page.lat}}" data-long="{{page.long}}"></div>
  <div class="row section-small">
    <div class="small-12 medium-4 columns end">
      <h2>GPX</h2>
      <ul class="nostyle">
      {% for gpx in page.gpx %}
        <li>
          <div data-gpx="/assets/gpx/{{ gpx.path }}" data-gpx-name="{{ gpx.name}}" data-gpx-index="{{ forloop.index }}" class="gpx-file">
            {{ gpx.name }}
            <small>{{ gpx.date| date: "%B %-d, %Y" }} | <a href="/assets/gpx/{{ gpx.path }}">Download gpx</a> | <a href="{{ gpx.source }}">Source</a></small>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="jelly-belly">
  <div class="row">
    <div class="small-12 columns">
      <h3>Have a trip report or GPX track you&rsquo;d like to contribute? <a href="mailto:bobby@powderlin.es">Submit&nbsp;your&nbsp;trip &rarr;</a></h3>
      <p>For tracking your tours we recommend <a href="http://www.gaiagps.com/">GaiaGPS</a> for <a href="https://itunes.apple.com/us/app/gaia-gps-topo-maps-trails/id329127297?mt=8&uo=4&at=11lv6L&ct=tripreport" title="Download GaiaGPS for iPhone or iPad from the App Store">iOS</a> or <a href="https://play.google.com/store/apps/details?id=com.trailbehind.android.gaiagps.pro" title="Download GaiaGPS for Android from Google Play">Android</a>.</p>
    </div>
  </div>
</div>
<div class="row section-small">
  <div class="small-12 medium-6 columns">
    <h2>Trip reports</h2>
    <ul class="nostyle">
      {% for report in page.reports %}
        <li class="trip-report" style="background-image:url({{ report.thumb }})">
          <a href="{{ report.url }}">
            <div>
              <p>{{ report.name }}</p>
              <small>{{ report.date | date: "%B %-d, %Y" }} | {{ report.url | remove:'http://' | split:'/' | first }}</small>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="small-12 medium-6 columns">
    <h2>Videos</h2>
      <div class="video-gallery">
        <div class="video-player">
          {% oembed {{page.videos.first.url}} %}
        </div>
        <ul class="small-block-grid-4">
          {% for video in page.videos %}
            <li class="{% if forloop.first %}active{% endif %}">
              <a class="video-thumb" href="{{ video.url }}" style="background-image:url({{ video.thumb }});">{{ video.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>
</div>

<div class="offset-background">
  <div class="row section-small">
    <div class="small-12 columns">
      <h2>Gear</h2>
    </div>
    <div class="small-12 medium-6 columns">
      <a class="product" href="http://www.amazon.com/gp/product/B001OFEA8S/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001OFEA8S&linkCode=as2&tag=powderlines-20">
        <img src="http://ecx.images-amazon.com/images/I/61I4qCovhOL._AC_SS500_.jpg"/>
        <div class="product-title-wrapper">
          <span class="product-title">Backcountry Access Tracker2 Avalanche Beacon</span>
        </div>
      </a>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="row spacing-small">
        <div class="small-6 columns">
          <a class="product" href="http://www.amazon.com/gp/product/1594856567/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1594856567&linkCode=as2&tag=powderlines-20">
            <img src="http://ecx.images-amazon.com/images/I/516v4AUtPVL._AC_SS250_.jpg"/>
            <div class="product-title-wrapper">
              <span class="product-title">Backcountry Ski and Snowboard Routes - Washington by Martin Volken </span>
            </div>
          </a>
        </div>
        <div class="small-6 columns">
          <a class="product" href="http://www.amazon.com/gp/product/B000V05XME/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000V05XME&linkCode=as2&tag=powderlines-20">
            <img src="http://ecx.images-amazon.com/images/I/61mdPMpfjRL._AC_SS250_.jpg"/>
            <div class="product-title-wrapper">
              <span class="product-title">Black Diamond QuikDraw Super Tour Probe 265</span>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <a class="product" href="http://www.amazon.com/gp/product/B005I408IW/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B005I408IW&linkCode=as2&tag=powderlines-20">
            <img src="http://ecx.images-amazon.com/images/I/31PN4tNraNL._AC_SS250_.jpg"/>
            <div class="product-title-wrapper">
              <span class="product-title">Backcountry Access B1 Extendable Shovel</span>
            </div>
          </a>
        </div>
        <div class="small-6 columns">
          <a class="product" href="http://www.amazon.com/gp/product/B002B3XOFC/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002B3XOFC&linkCode=as2&tag=powderlines-20">
            <img src="http://ecx.images-amazon.com/images/I/81gGBBz2obL._AC_SS250_.jpg"/>
            <div class="product-title-wrapper">
              <span class="product-title">Osprey Kode 38 Pack</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row section-small">
  <div class="small-12 columns">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'makepowderlines';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>